<!DOCTYPE html>
<html>
    <head>
        Main menu
    </head>
        <body>
            Hello, {nickname}, You're {logged} logged in.<br /><br />
            this site is designed to make links short.<br /><br />
            If you want to try log in on system<br /><br />
            <form method="GET" action="/login">
                <button type="submit">Log in</button>
            </form>
            <form method="GET" action="/registration">
                <button type="submit">Go to registration</button>
            </form>
            <form method="GET" action="/short_url">
                <button type="submit">Go to make links short</button>
            </form>
        </body>
</html>